.input-area {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.72);
    border-style: solid;
    border-radius: 25px 0px 25px 25px;
    position: fixed;
    left: 79.5vw;
    top: 20vh;
    display: inline;
    min-width: 20vw;
    min-height: 60vh;
}

#saturation-slider {
    color: white;
    /* position: fixed;*/
    top: 15vh;
    transform: scale(0.85);
}

.check {
    position: fixed;
    color: white;
    transform: scale(1.5);
    top: 80%;
    left: 46%;
    opacity: 0.8;
    border: 2px solid white;
    border-radius: 10px 0px 10px 10px;
}

.check:hover {
    opacity: 1;
}

.hue-value {
    color: white;
    position: fixed;
    top: 25vh;
    left: 8vw;
}

.hue-picker {
    position: fixed;
    top: 10vh;
    left: 0vw;
    transform: scale(0.9);
}

.hue-st {
    color: white;
    display: inline;
    position: fixed;
    top: 5vh;
    left: 2%;
}

.saturation-st {
    color: white;
    display: inline;
    position: fixed;
    top: 15vh;
    left: 2%;
}

.factor-st {
    color: white;
    display: inline;
    position: fixed;
    top: 5vh;
    left: 2%;
}

#factor-slider {
    color: white;
    display: inline;
    position: fixed;
    transform: scale(0.85);
    top: 10vh;
    left: 2%;
}

.factor-value{
    color: white;
    position: fixed;
    top: 15vh;
    left: 8vw;
}